body {
  margin: 0;
  font-family: "Karla" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7fb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Style for the intro screen. The div covers the entire page and displays items on the center and in a column direction. */
.introScreen {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../../images/blobs.png"),
    url("../../images/blobs2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
}

/* Stop displaying the overlay. */
.introScreenNone {
  display: none;
}

/* Style for the H1. */
.quizzical {
  color: #293264;
  font-weight: 700;
  font-size: 56px;
  margin: 0;
}

/* Style for the paragraph. */
.quizzicalParagraph {
  color: #293264;
  font-weight: 400;
  font-size: 32px;
}

/* Style for the button. */
.startButton {
  width: 233px;
  height: 70px;
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-size: 28px;
  border-radius: 18px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
}

/* Button click animation, add a shadow. */
.startButton:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.quizWindow {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background-image: url("../../images/blobs.png"),
    url("../../images/blobs2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
}

.quizWindowNone {
  display: none;
}
