.question {
  color: #293264;
  margin-left: 30%;
  margin-right: 30%;
}

.questionText {
  font-family: "Karla" sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.answersContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

.answer {
  height: 56px;
  width: auto;
  background-color: #f5f7fb;
  border-color: #4d5b9e;
  border-radius: 26px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #293264;
}

.answer:hover {
  cursor: pointer;
  background-color: gainsboro;
}

.answer:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.checkAnswers {
  width: 200px;
  height: 60px;
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-size: 22px;
  border-radius: 18px;
  margin-top: 40px;
  cursor: pointer;
  border: none;
  align-self: center;
}

.checkAnswers:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.selectedAnswer {
  height: 56px;
  width: auto;
  background-color: #d6dbf5;
  border-color: #4d5b9e;
  border-radius: 26px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #293264;
}
